body {
    font-family: 'Abhaya Libre', serif;
    font-style: normal;

}

.log-container {
    /* border: green 2px solid; */

    margin: 0 auto;
    padding: 0;
    padding-bottom: 5%;
    text-align: center;
    
    background-image: url(../assets/images/registration.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 65%;
}

.card-title {
    font-weight: 800;
    font-size: 225%;
}

.log-container .logo {
    margin: 0;
    padding: 0;
    margin-top: 4%;
    width: 30%;
    min-width: 250px;
}

.card-body {
    max-width: 400px;
}

.log-form {
    padding: 0 25%;
}

.log-form .form-group {
    padding-top: 5%;
}

.log-form .form-control {
    width: 30vw;
}

form p {
    margin-top: 3%;
}