.navbar{
    position: fixed;
    width: 80%;
    height: 112px;
    left: 10%;
    top: 0px;
    background: #FEFFF9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
 .nav-title{
    position: absolute;
    width: 150px;
    height: 53.2px;
    left: 55px;
    top: 24.27px;

    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration: none;

    color: #000000;
}

.nav-title p{
    position: absolute;
    width: 152px;
    height: 19.6px;
    top: 30px;

    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.nav-item li{
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    letter-spacing: -0.015em;
    text-decoration: none;
    display:block;
    float:right;
    padding:8px;
    color: #000000;
    align-self: end;
}

.nav-item ul{
    list-style-type: none;
    margin-right: 5%;
    bottom:0;
    margin-top: 3%;

}
